body {
    margin: 0;
    background-color: #050505;
    color: white;
    font-family: Arial, sans-serif;
}


.intro {
    margin-top: 30vh;
    margin-left: 5%;
}


.intro h1 {
    font-size: 50px;
    margin: 10px 0;
}